.nav {
  height: 4.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  @include themify($themes) {
    box-shadow: themed('boxShadow');
    background: themed("containerBackgroundColor");
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    overflow: none;

    @include themify($themes) {
      box-shadow: themed('boxShadow');
    }

    &--small {
      width: 3rem;
      height: 3rem;
      border-radius: 100px;
      overflow: none;
    }
  }


  &__profile {
    position: absolute;
    bottom: 20%;
  }

  &__creator {
    display: flex;
    align-items: center;
    width: 9rem;
    border-radius: 10rem;

    @include themify($themes) {
      box-shadow: themed('boxShadow');
    }
  }

  &__username {
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__profile {}


  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 200ms;

    color:var(--text-color)
  }

  .nuxt-link-exact-active {
    transform: scale(1.2);
    transition: 200ms;
    color: var(--link-text-color);
  }

  .nuxt-link-exact-active span {
    color: var(--link-text-color);
  }

  &__item {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    position: relative;

    &--creator {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.2rem;
      position: relative;
      height: 4.5rem;
    }
  }

  span {
    font-size: 0.8rem;

    @include themify($themes) {
      color: themed("labelTextColor");
    }
  }

  // border-bottom-left-radius: 1.5rem;
  // border-bottom-right-radius: 1.5rem;

  &__container {
    padding: 0 1rem;
  }
}
