.dialog {
    $self: &;
    touch-action: manipulation;
    @media screen and (max-width:750px) {
     
      &__content {
        touch-action: manipulation;
        width: 100% !important;
        height: 100% !important;
        padding: 1rem !important;
        border-radius: 0 !important;
        max-height:var(--app-height)!important;
      }
  
    }
    &__close{
      position:fixed;
      width:100%;
      height:100%;
      left:0;
      top:0;
      z-index: 1;
    }
    &--disabled {
      visibility: hidden;
      transition: 300ms;
    }
  
    overscroll-behavior: contain;
  
    &__container {
      overscroll-behavior: contain;
      width: 100%;
      height: 100%;
      position: fixed;
      border: none;
      z-index: 2000;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      touch-action: manipulation;
      // background-color: ;
      &--low {
        overscroll-behavior: contain;
        width: 100%;
        max-height: 70%;
        position: fixed;
        border: none;
        z-index: 2000;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
  
      }
  
  
    }
  &__header{
    position:sticky;
    // padding: -2rem;
    top:0;
    padding:1rem 2rem;
    margin:-0 -2rem;
    background:var(--text-background-color);
  }
    &__content { 
      overscroll-behavior: contain;
      touch-action: manipulation;
      padding: 2rem;
      box-sizing: border-box;
      max-width: 100%;
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      border-radius: 0.4rem;
      background-color: #fff;
      overscroll-behavior: none;
      max-height:50rem;
      overflow:auto;
      z-index: 5;
      background:var(--text-background-color);
      box-shadow:var(--box-shadow);
   
      pointer-events: auto;
  
      // &::before {
      //   content: "12";
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   top: 0;
      //   left: 0;
      // }
    }
  }
  